/* You can add global styles to this file, and also import other style files */
html,
body{
    margin: 1rem;
    background-color: rgb(207, 209, 231);
    color: rgb(24, 24, 24);
    border-color: white;
}